/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-10-10, 9:56:17
    Author     : Administrator
*/

.login_bdw{margin: 60px auto;width: 990px;background: #fff;}
.biz_footer .footer_box{margin: 0}
.erwei-box {
	margin-top: 35px;
	width: 160px;
}
.erwei-box p{
	text-align: center;
	color: #f80;
	line-height: 30px;
}